.button {
  border-radius: 33px;
  background: var(--green);
  width: 100%;
  color: white;
  font-family: "Montserrat", sans-serif;
  padding: 1em;

  cursor: pointer;
  outline: none;
  border: none;
  margin: 2em 0em;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.33913px;
}

.button:hover {
  box-shadow: 0px 4px 20px rgba(26, 171, 115, 0.3);
  border: none;
}

.button:active {
  background: #3cb387;
  border: none;
}

.button:disabled {
  cursor: not-allowed;
  border: none;
}

.button_invalid {
  border-radius: 33px;
  border: none;
  width: 100%;
  background: #6abfa0;
  color: white;
  font-size: 1rem;
  padding: 1em;

  outline: none;
  margin: 2em 0em;
  cursor: not-allowed;
}

@media (max-width: 767px) {
  .button {
    width: 100%;
    margin: 2em auto;
    padding: 0.7em;
    border: none;
  }

  .button_invalid {
    width: 90%;
    margin: 2em auto;
    padding: 0.7em;
    border: none;
  }
}

@media (min-width: 767px) and (max-width: 1023px) {
  .button {
    width: 100%;
    margin: 2em auto;
    border: none;
  }

  .button_invalid {
    width: 70%;
    margin: 2em auto;
    border: none;
  }
}
