@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  overflow-x: hidden !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --darkblue: #001845;
  --green: #10a56c;
  --primaryColor: #001e2b;
  --newGreen: #00a06e;
  --newYellow: #fcc101;
  --lightGreen: #afbf6a;
  --veryLightGreen: #d8f5cc;
  --lite: rgba(255, 255, 255, 0.6);
}
